* {
  font-family: 'Noto Serif Bengali', serif !important;
}

img {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 !important;
  margin: 0 !important;
}
